# Ключ для Django (сгенерируйте свой или используйте этот для разработки)
SECRET_KEY=django-insecure-lab4-repairhub-demo-key

# Режим отладки (True для разработки, False для продакшена)
DEBUG=True

# Ключ API от Groq для работы чат-бота
GROQ_API_KEY=твой_ключ
